<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="gmail_extra">
	<!-- All Products Highlights-->
	<div  style="font-size:22px;">
		<strong>
			     All Products Highlights:
		</strong>
	</div>
	<div>
		<ul>
				#products highlights#
		</ul>
	</div>
	<br />
		<!-- Product details -->
		#product details#
	 
</div>