{
    "jql": "#jira_query#",
    "startAt": 0,
    "maxResults": 50,
    "fields": [
        "summary",
        "status",
        "assignee",
        "creator",
        "created",
        "customfield_19510",
        "customfield_19511",
        "customfield_19512",
        "customfield_19513",
        "duedate"
    ]
}